@page
@model SuperMarketManagementSystem.Pages.Invoices.DetailsModel

@using SuperMarketManagementSystem.Authorization
@using SuperMarketManagementSystem.Models
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.CreatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CreatorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.QuantitySold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.QuantitySold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Status)
        </dd>
        
    </dl>
</div>

@{
    var isAuthorized = await AuthorizationService.AuthorizeAsync(
                User, Model.Invoice, InvoiceOperations.Reject);

    @if (isAuthorized.Succeeded)
    {
        @if (Model.Invoice.Status == InvoiceStatus.Submitted)
        {
            <form style="display:inline" method="post">
                <input hidden name="id" value="@Model.Invoice.InvoiceId">
                <input hidden name="status" value="@InvoiceStatus.Approved">
                <button class="btn btn-success btn-xs" type="submit">Approve</button>
            </form>
        }

        @if (Model.Invoice.Status == InvoiceStatus.Submitted)
        {
            <form style="display:inline" method="post">
                <input hidden name="id" value="@Model.Invoice.InvoiceId">
                <input hidden name="status" value="@InvoiceStatus.Rejected">
                <button class="btn btn-danger btn-xs" type="submit">Reject</button>
            </form>
        }
    }
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoice?.InvoiceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
